@model PagedList.IPagedList<ClientSearch.Models.ApiClient>
@using PagedList.Mvc;


@{
    ViewBag.Title = "API Client Search";
}

<h2>Search Clients</h2>


@using (Html.BeginForm())
{
    <p>
        Find by Phone/Email: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>

}

<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Mobile
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
</tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
